@import "lib.less";


.search-container {
	float: left;
	width: 100%;
}

.customer-listings {
	width: 80%;
	float: left;
	border-collapse: collapse;
	margin:0 10%;
}

.customer-listings tr {
}

.customer-listings tr:nth-child(even) {
	background-color: @base;
}

.customer-listings tr:hover {
	background-color: @hover;
}

.customer-listings td, .customer-listings th {
	padding: 10px;
}
