<!-- add customer -->

<div class=''>
	<form>
		<label>First name:</label><input ng-model='data.nameFirst' type='text'>
		<label>Last name:</label><input ng-model='data.nameLast' type='text'>
		<label>Email:</label><input ng-model='data.email' type='text'>
		<label>Street:</label><input ng-model='data.address.street' type='text'>
		<label>City:</label><input ng-model='data.address.city' type='text'>
		<label>Zip:</label><input ng-model='data.address.zip' type='text'>
		<input ng-click='addCustomer()' type='submit' value='Add'>
	</form>
</div>