body {
	margin:0;
	padding:0;
	font-size: 17px;
	/*background-color: rgb(197, 197, 197);*/
}

#header {
	width: 100%;
	background-color: rgb(0, 0, 128);
}

.wrapper {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	color:white;
	padding:15px 0;
	margin: 0;
}

.home-options {
	float:right;
	width:33%;
}

#customer_list_table {
	width:66%;
	float:left;
	border-collapse: collapse;
}

#customer_list_table td {
	padding:10px;
}

#customer_list_table tr:nth-child(even) {
	background-color: rgb(229, 254, 255);
}

#customer_list_table tr:hover {
	background-color: #0D989E !important;
	color: white !important;
}


.equipment-option {
	width:200px;
	background-color: #CCCCCC;
	border-radius: 10px;
	border:1px solid black;
	box-shadow: 2px 2px 2px #CCCCCC;
	margin:25px;
	padding: 50px 0;
	float:left;
	text-align: center;
}

#pmform input {
	float:right;
	clear:right;
	height:30px;
	border: 1px solid #CCCCCC;
	margin:5px 0;
}

#pmform label {
	float:left;
	height:30px;
	clear:left;
	padding: 1px 0;
	margin:5px 0;
}

#pmform {
	width:45%;
	margin:0 auto;
}

#pmform #submit {
	height:30px;
	background-color: white;
	border:1px solid rgb(0, 0, 128);
	padding:0 15px;
	margin-top: 20px;
	color:rgb(0, 0, 128);
}

.customer-equipment {
	width:90%;
	background-color: white;
	border:1px solid #CCCCCC;
	box-shadow: 2px 2px 2px #CCCCCC;
	margin:25px auto;
	/*padding: 25px;*/
}

.customer-equipment p {
	margin:0;
	padding:5px;
}

.customer-options {
	width:33%;
	float:left;
}

/* customer detail styling */

.customer-detail-view {
	width:100%;
	float:left;
	background-color: rgb(244, 255, 118);
	color: black;
	padding: 30px 0;
}

.customer-equipment-container {
	float:right;
	width:33%;
}


.customer-pm-list {
	width:66%;
	float:left;
	border-collapse: collapse;
}

.customer-pm-list td {
	padding:10px;
}

.customer-pm-list tr:nth-child(even) {
	background-color: rgb(229, 254, 255);
}

.customer-pm-list tr:hover {
	background-color: #0D989E !important;
	color: white !important;
}


.pm-hover {
	background-color: red !important;
	color:white !important;
}



/* home page styling */

.customer-search-box {
	width:100%;
	padding:20px 0;
}

.customer-search-box form {
	width:66%;
	margin-left: auto;
	margin-right: auto;
}

#searchterms {
	width:60%;
	height:30px;
	border: 1px solid #CCCCCC;
}

#searchoptions {
	width:18%;
	height:30px;
	background-color: white;
	border: 1px solid #CCCCCC;
	margin: 0 0 0 4%;
}

#customer_search {
	width:12%;
	height:30px;
	background-color: white;
	border: 1px solid #CCCCCC;
	margin: 0 0 0 4%;

}

/* button styling */

.button {
	padding: 15px 50px;
	float:right;
	border-radius: 10px;
}

.green-button {
	padding:15px 30px;
	border:1px solid #006900;
	font-weight: bold;
	box-shadow: 0px -2px 2px #006900 inset;
	border-radius: 5px;
	background-color: rgba(39, 184, 12, 1);
	color:white;
}

.green-button:hover {
	background-color: rgba(39, 184, 12, .75);
	border:1px solid rgba(0, 105, 0, 0.75);
}

.blue-button {
	background-color: white;
	border:1px solid rgb(0, 0, 128);
	color:rgb(0, 0, 128);
}

.blue-button:hover {
	color:white;
	background-color: rgb(0, 0, 128);

}

.create-pm {
	background-color: white;
	color:red;
	padding:10px 0px;
	width:50%;
	margin:0 auto;
	text-align: center;
	border: 1px solid red;
	box-shadow: 2px 2px 2px #3C3C3C;
}

.equipment-history {
	padding:10px 0px;
	width:50%;
	margin:0 auto;
	text-align: center;
/*	box-shadow: 2px 2px 2px #3C3C3C;
	border:1px solid #CCCCCC;*/
}

#add_equip {
	float: right;
	/*width:45%;*/
}

#new_customer {
	float:right;
}

#new_customer_form {
	width:33%;
	margin: 0 auto;

}

#new_customer_form input {
	float:right;
	clear:right;
	height:30px;
	border: 1px solid #CCCCCC;
	margin:5px 0;
}

#new_customer_form label {
	float:left;
	height:30px;
	clear:left;
	padding: 1px 0;
	margin:5px 0;
}

#new_customer_form #submit {
	height:30px;
	padding:0 15px;
	margin-top: 20px;
}

.pmview {
	width:80%;
	margin: 0 auto;
	background-color: white;
	margin:40px;
	border:1px solid #CCCCCC;
	padding:20px 5%;
	float:left;
	box-shadow: 0px -5px 5px #AAAAAA inset;

}

.pmview label {
	float:left;
	clear:left;
	padding:5px 5% ;
	margin:5px 0;
}

.pmview span {
	float:right;
	clear:right;
	padding:5px 5% ;
	margin:5px 0;	
}

.pmview div {
	float:left;
	width:50%;
}

.pmview div:nth-child(4n+1), .pmview div:nth-child(4n+2) {
	background-color: rgb(235, 235, 235);
}


.fleft {float:left;}

.fright {float:right;}

@media screen and (max-width: 650px) {
	.pmview div {width:100%;}

}




input[type=checkbox] {
	visibility: hidden;
	display: none;
}

.styled-check {
	float:right;
}


.styled-check label {
	width:30px;
	height:30px;
	background-color: rgba(177, 177, 177, 0.98);
	position:relative;
	border-radius: 12px;
	margin:0 !important;
	padding:0 !important;
}

.styled-check-inner {
	position: absolute;
	top:0;
	left:0;
	width:16px;
	height:16px !important;
	border:2px solid #CCCCCC;
	border-radius: 5px;
	background-color: #918E8E;
	margin:5px !important;

}

.styled-check input[type=checkbox]:checked + label {
	background-color: #918E8E;

}


.styled-check input[type=checkbox]:checked + label .styled-check-inner {
	background-color: rgb(0, 172, 0);

}


#chart_div {
	width: 90%;
	height:500px;
}