body {
	margin:0;
	padding:0;
	font-size: 17px;
	/*background-color: rgb(197, 197, 197);*/
}

#header {
	width: 100%;
	background-color: rgb(0, 0, 128);
}

.wrapper {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	color:white;
	padding:15px 0;
	margin: 0;
}

.customer-hover {
	background-color: red !important;
	color:white !important;
}

.home-options {
	float:right;
	width:33%;
}

#customer_list_table {
	width:66%;
	float:left;
}

#customer_list_table td {
	padding:10px;
}

#customer_list_table tr:nth-child(even) {
	background-color: yellow;
}



.equipment-option {
	width:200px;
	background-color: #CCCCCC;
	border-radius: 10px;
	border:1px solid black;
	box-shadow: 2px 2px 2px #CCCCCC;
	margin:25px;
	padding: 50px 0;
	float:left;
	text-align: center;
}

.customer-equipment {
	width:90%;
	background-color: white;
	border:1px solid #CCCCCC;
	box-shadow: 2px 2px 2px #CCCCCC;
	margin:25px auto;
	/*padding: 25px;*/
}

.customer-equipment p {
	margin:0;
	padding:5px;
}

.customer-options {
	width:33%;
	float:left;
}

/* customer detail styling */

.customer-detail-view {
	width:100%;
	float:left;
	background-color: rgb(244, 255, 118);
	color: black;
	padding: 30px 0;
}

.customer-equipment-container {
	float:right;
	width:33%;
	background-color: blue;
}

.customer-pm-list { 
	float:left;
	width:66%;
}

.customer-pm-list td {
	padding:5px 10px;
}

.customer-pm-list tr:nth-child(even) {
	background-color: yellow;
}

.pm-hover {
	background-color: red !important;
	color:white !important;
}

.create-pm {
	background-color: red;
	color:white;
	padding:10px 25px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #3C3C3C;
}

.equipment-history {
	background-color: grey;
	padding:10px 25px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #3C3C3C;
}


/* home page styling */

.customer-search-box {
	width:100%;
	padding:20px 0;
}

.customer-search-box form {
	width:66%;
	margin-left: auto;
	margin-right: auto;
}

#searchterms {
	width:60%;
	height:30px;
	border: 1px solid #CCCCCC;
}

#searchoptions {
	width:18%;
	height:30px;
	background-color: white;
	border: 1px solid #CCCCCC;
	margin: 0 0 0 4%;
}

#customer_search {
	width:12%;
	height:30px;
	background-color: white;
	border: 1px solid #CCCCCC;
	margin: 0 0 0 4%;

}

/* button styling */

.button {
	padding: 15px 50px;
	float:right;
	border-radius: 10px;
}

#add_equip {
	background-color: green;
	color:white;
	width:66%;
	margin:0 auto;
	text-align: center;
	padding:15px 0;
	border-radius: 10px;
}

#new_customer {
	background-color: red;
	color:white;
}

