.table-styling {
  border-collapse: collapse;
  width: 80%;
  float: left;
  margin: 0 10%;
}
.table-styling td,
.table-styling th {
  padding: 10px;
}
.table-styling tr:nth-child(even) {
  background-color: #cccccc;
}
.table-styling tr:hover {
  background-color: #ff0000;
}
body {
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  min-width: 340px;
  margin: 0 auto;
}
#header {
  width: 100%;
  float: left;
  background-color: #242424;
}
#header a {
  text-align: center;
  text-decoration: none;
  color: #dbdbdb;
}
