<!-- gasPM.html -->
<div>
	<div><label>Make:</label><span>{{data.make}}</span></div>
	<div><label>Model:</label><span>{{data.model}}</span></div>
	<div><label>Serial:</label><span>{{data.serial}}</span></div>
	<div><label>Pressure Switches:</label></div>
	<div><label>Fan Relay:</label></div>
	<div><label>Clean Flame Sensor:</label></div>
	<div><label>Hot Surface Ignitor:</label><span>{{data.hsi}} ohms</span></div>
	<div><label>Inspect Blower Motor:</label></div>
	<div><label>Blower Amps:</label></div>
	<div><label>Capacitor:</label></div>
	<div><label>Rated:</label><span>{{data.caprated1}}</span></div>
	<div><label>Actual:</label><span>{{data.capact1}}</span></div>
	<div><label>Inspect Heat Exchanger:</label></div>
	<div><label>Gas Pressures:</label></div>
	<div><label>High:</label><span>{{data.highgas}}</span></div>
	<div><label>Low:</label><span>{{data.lowgas}}</span></div>
</div>